.table-model-wrap {
  width: 100%;
  .table-model-content {
    .cell {
      .el-form-item {
        margin-bottom: 0;
        line-height: normal;
        .el-form-item__content {
          line-height: normal;
          .el-form-item__error {
            position: relative;
          }
          .el-cascader {
            > .el-input {
              width: 100%;
            }
          }
          .el-input {
            display: block;
            width: auto;
            &.el-input--small, &.el-input--mini {
              font-size: inherit;
            }
            &.right {
              input {
                text-align: right;
              }
            }
            &.center {
              input {
                text-align: center;
              }
            }
          }
          .el-editable-form.el-input {
            display: inline-block;
          }
        }
      }
      .editable-text {
        display: inline-block;
        padding: 0 10px;
        min-width: 75px;
        min-height: 23px;
        vertical-align: middle;
        cursor: pointer;
        &:hover {
          background-color: #fff;
          border: 1px dashed #d9dce2;
          border-radius: 2px;
        }
      }
      .uneditable-text {
        pointer-events: none;
      }
    }
    .drag-sort {
      .el-table__body-wrapper td {
        cursor: move;
        > * {
          cursor: default;
        }
      }
    }
  }
  .table-model-pagination {
    text-align: right;
  }
}